<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header class="quizHeader"></header>
    <section class="contentText containerContent">
        <p class="contentText__info">В начале 1918 года город вошёл в состав Донецко-Криворожской советской республики. В марте 1918 года в город из Екатеринослава эвакуировалось большевистское правительство Украинской Советской республики. Таким образом, в марте-апреле Таганрог числился столицей советской Украины (до 20 апреля, когда ЦИКУ и Нарсекретариат были распущены). Находился в Таганроге и Центральный комитет чехословаков-интернационалистов, издававший газету «Свобода», которую редактировал Ярослав Гашек</p>
        <button class="optionBtn">Далее</button>
    </section>
</body>
</html>