<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header class="quizHeader"></header>
    <section class="quiz3rd">
        <p class="quiz3rd__text">Во времена правления Екатерины 2 довольно большую часть населения города Таганрога составляли греки.
            Катализатором данного события выступило принятие Екатериной Второй рескрипта, в котором она разрешала грекам,
            не только воевавшим на стороне России в то время, но и всем желающим свободно проживать в Керчи и Еникале(Крыму).
            Препровождающий правового акта так же добавил к списку городов Таганрог.
            В результате, в совокупности с процветающей торговлей города, главный фаворит Екатерины Второй, Григорий Потемкин,
            собирался присвоить Таганрогу именно ЭТО новое имя.</p>
        <div class="quiz3rd__quest">

        </div>
    </section>
</body>
</html>