<html>

    <p>Давай поиграем</p>

    <form action="/login" method="post">
        <input type="text" name="email" id="1">
        <input type="text" name="password" id="2">
        <input type="submit">
    </form>

</html>