<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header class="mainHeader"></header>
    <div class="main__logoBig">
        <img src="/image/logoBig.png" alt="">
    </div>
    <section class="main__section">
        <p class="textWelcome">Привет, тебя приветствует команда ADS4589!<br>
            Наверное у тебя появился вопрос для чего нужен наш сайт? Сейчас поясним.<br>
            Наш сайт помогает узнавать новую информацию в формате квест онлайн.<br>
            Благодаря нашему сайту ты узнаешь много чего интересного про разные отрасли.<br>
            Мы стараемся преподнести информацию, легко, удобно и доступно.<br>
            Узнавай много нового вместе с нами.
        </p>
        <button class="main__btnStart">
            Начать
        </button>
    </section>
    <footer></footer>
    <script defer src="/script.js"></script>
</body>


</html>