<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>

    <div class="absBlock">
        <p class="absBlock__info absBlock__route">:\hakaton\final_day\TGN_ARG.exe</p>
        <p class="absBlock__info absBlock__welcome">Welcome, {{}}</p>
        <p class="absBlock__info absBlock__progress">You are at lvl {{}}</p>
        <a class="absBlock__info absText__link" href="/">Log out</a>
    </div>

    <header class="quizHeader"></header>
    <section class="quiz2nd container">
        <img class="quiz2nd__image" src="static/image/crossword.png">
        <div class="quiz2nd__info">
            <p class="quiz2nd__text quizHeader__quiz2ndText">В июле 1696 года после взятия русскими войсками турецкой крепости Азов
                царь Петр оценил выгодное военно-стратегическое положение мыса<br> Таганрог.<br>
                Он велел заложить здесь крепость, которая должна была стать базой русского военного флота
                и, как гласит легенда,местом основания<br> новой столицы государства.<br>
                Но этим планам не суждено было сбыться. Однако, в какой-то момент истории город все же носил статус столицы именно этой республики.</p>
        </div>
    </section>
    <footer class="footer container">
        <div class="footer__partners">
            <a href="" class="footer__logo">
                <img src="static/image/partnerLogo.svg" alt="">
            </a>
        </div>
    </footer>
</body>
</html>