<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>

    <div class="absBlock">
        <p class="absBlock__info absBlock__route">:\hakaton\final_day\TGN_ARG.exe</p>
        <p class="absBlock__info absBlock__welcome">Welcome, {{}}</p>
        <p class="absBlock__info absBlock__progress">You are at lvl {{}}</p>
        <a class="absBlock__info absText__link" href="/">Log out</a>
    </div>

    <header class="quizHeader"></header>
    <section class="quiz4th containerText">
        <p class="contentText__info">Каменная лестница — настоящий символ Таганрога, любимое место отдыха горожан и гостей города.
            Лестница находится здесь уже более 100 лет и во все времена притягивала к себе людей. Секрет прост, кроме того,
            что она сама по себе представляет интереснейший архитектурный объект, вид, который открывается с ее площадок, поистине завораживает.
            <br>Ежегодно в Таганроге проходит мероприятие, связанное с данной достопримечательностью,
            для перехода на следующий этап введите чем оно является и его название:

        </p>
        <form class="quiz4th__form" action="">
            <input class="quiz4th__input" type="text">
            <button class="quiz4th__btn"><img class="quiz4th__btnSvg" src="static/image/sendBtn.svg" alt=""></button>
        </form>
    </section>
    <footer class="footer container">
        <div class="footer__partners">
            <a href="" class="footer__logo">
                <img src="static/image/partnerLogo.svg" alt="">
            </a>
        </div>
    </footer>
</body>
</html>